{% extends "base.html" %}

{% block content %}
<style type="text/css">
  input {

    border: 1px solid #ced4da !important;

}
</style>


<div class="container">
  <div class="row">

    <div class="col-md-6 mt-5 offset-3">
    <h1>Sign Up</h1>

<p>Already have an account? Then please <a href="" style="font-weight: bolder;">sign in</a></p>

<form class="signup" id="signup_form" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Sign Up &raquo;</button>
</form>
<br>
</div>
</div>
</div>

{% endblock %}
